{
  auto_https off
}

(auth) {
  basicauth {args.0} {
   admin {$CADDY_ADMIN_USER_PASSWORD_HASH} {$CADDY_ADMIN_USER_SALT}
  }
}

(app) {
  # Add trailing slash to all backend communication
  redir /app/{args.0} /app/{args.0}/
  handle_path /app/{args.0}/* {
    reverse_proxy {args.1}
  }
}

(base) {
  tls /certs/live/default/fullchain.pem /certs/live/default/privkey.pem
  log {
    format logfmt
  }
}

https://{$FQDN} {
  import base
  encode gzip

  # Require authentication for all resources except the status page
  @notstatus {
    not path /status
  }
  import auth @notstatus

  redir /status https://status.{host}

  # Syncthing Admin UI
  import app syncthing syncthing:8384
  
  root * /usr/share/caddy
  file_server * browse {
    hide apps* config* *stfolder* *.git* *node_modules*
  }

}

https://*.{$DOMAIN} {
  import base
  respond 400
}

http:// {
  redir https://{host}{uri} permanent
}
