{
	admin off
}

(log) {
	log {
		format console
	}
}

(auth) {
	basicauth {args.0} {
		admin {$CADDY_ADMIN_USER_PASSWORD_HASH} {$CADDY_ADMIN_USER_SALT}
	}
}

(app) {
	# Add trailing slash to all backend communication
	redir /app/{args.0} /app/{args.0}/
	handle_path /app/{args.0}/* {
		reverse_proxy {args.1}
	}
}

https://{$MAIN_DOMAIN} {
	import log
	encode gzip

	# Require authentication for all resources except the status page
	@notstatus {
		not path /status
	}
	import auth @notstatus

	redir /status {$STATUS_PAGE_URL}

	# Syncthing Admin UI
	import app syncthing syncthing:8384

	root * /usr/share/caddy
	file_server * browse {
		hide apps* config* *stfolder* *.git* *node_modules*
	}
}

(gh_shortlink) {
	@{args.0}_link {
		path /{args.0}*
		not path /{args.0}/*
	}
	rewrite @{args.0}_link /{args.1}{path}
}

https://{$GH_DOMAIN_ALIAS} {
	import log
	import gh_shortlink sshca ratorx/sshca
	reverse_proxy * gh:8080
}

https://{$PROMETHEUS_DOMAIN_ALIAS} {
	import log
	import auth *
	reverse_proxy * prometheus:9090
}

:9090 {
	metrics /metrics
}

http:// {
	redir https://{host}{uri} permanent
}