{
	admin off
}

(app) {
	# Add trailing slash to all backend communication
	redir /app/{args.0} /app/{args.0}/
	handle_path /app/{args.0}/* {
		reverse_proxy {args.1}
	}
}

(gh_shortlink) {
	@{args.0}_link {
		path /{args.0}*
		not path /{args.0}/*
	}
	rewrite @{args.0}_link /{args.1}{path}
}

https:// {
	log {
		format console
	}

	@main {
		host {env.MAIN_DOMAIN}
	}
	handle @main {
		encode gzip

		# Require authentication for all resources except the status page
		@notstatus {
			not path /status
		}
		basicauth @notstatus {
			admin {env.CADDY_ADMIN_USER_PASSWORD_HASH} {env.CADDY_ADMIN_USER_SALT}
		}

		redir /status https://status.{host}

		# Syncthing Admin UI
		import app syncthing syncthing:8384

		root * /usr/share/caddy
		file_server * browse {
			hide apps* config* *stfolder* *.git* *node_modules*
		}
	}

	@gh {
		host {env.GH_DOMAIN_ALIAS}
	}
	handle @gh {
		import gh_shortlink sshca ratorx/sshca
		reverse_proxy * gh:8080
	}

	@mumble {
		host {env.MUMBLE_DOMAIN_ALIAS}
	}
	handle @mumble {
		redir https://mumble.info
	}
}

http:// {
	redir https://{host}{uri} permanent
}
